@use '@angular/material' as mat;
@use 'theme-colors' as theme;

@include mat.core();

// ライトテーマの定義と適用
html {
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette
    ),
    typography: (
      // ここでフォントファミリーを直接指定
      'plain-family': '"Noto Sans JP", sans-serif'
    ),
    density: 0,
  ));
}

// .dark-theme クラスが適用された場合にダークテーマを適用
.dark-theme {
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
      theme-type: dark
    ),
    typography: (
      'plain-family': '"Noto Sans JP", sans-serif'
    ),
  ));
}

body {
  color-scheme: light dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
}

html, body { height: 100%; }

.code-example {
  padding: 16px;
  margin-top: 16px;
  position: relative;
  border-radius: 8px;

  // .code-example 内で常にダークテーマを適用
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
      theme-type: dark
    ),
  ));

  // ダークテーマの背景色と文字色を明示的に適用
  background-color: var(--mat-sys-surface-container-lowest);
  color: var(--mat-sys-on-surface);

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  pre {
    margin: 0;
  }

  code {
    font-family: 'Fira Code', monospace;
    background-color: #2d2d2d !important;
    color: #f8f8f2 !important;
    padding: 16px;
    overflow-x: auto;
    display: block;
    border-radius: 4px;
  }

  button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}